sphinx
pydata-sphinx-theme
sphinx_gallery
sphinx-copybutton
memory_profiler
numpydoc
sphinxcontrib-svg2pdfconverter
sphinxcontrib-bibtex
matplotlib
beautifulsoup4
jupyter-sphinx
pythreejs
ipyvtklink
sphinx-thebe
