sphinx
pydata-sphinx-theme<0.10
sphinx_gallery==v0.10.1 
sphinx-copybutton
memory_profiler
numpydoc
sphinxcontrib-svg2pdfconverter
sphinxcontrib-bibtex
matplotlib
beautifulsoup4
jupyter-sphinx
pythreejs
ipyvtklink
sphinx-thebe
