@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHtv4kjgoGqM7E_CfNYwHo.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHsv4kjgoGqM7E_CfP04Vop.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHsv4kjgoGqM7E_CfOQ4lop.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHrv4kjgoGqM7E_Ccs8.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHsv4kjgoGqM7E_CfPI41op.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHsv4kjgoGqM7E_CfPk5Fop.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHsv4kjgoGqM7E_CfOA5Vop.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHsv4kjgoGqM7E_CfOc5lop.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHsv4kjgoGqM7E_CfO451op.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHrv4kjgoGqM7E3b8s8.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHqv4kjgoGqM7E3w-oc4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHqv4kjgoGqM7E3p-kc4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHpv4kjgoGqM7EPCw.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHqv4kjgoGqM7E3_-gc4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHqv4kjgoGqM7E30-8c4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHqv4kjgoGqM7E3t-4c4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHqv4kjgoGqM7E3q-0c4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHqv4kjgoGqM7E3j-wc4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Cousine';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cousine/v22/d6lKkaiiRdih4SpP_SEvyQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Cousine';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cousine/v22/d6lPkaiiRdih4SpP_SEXdTvM1w.ttf) format('truetype');
}
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cousine/v22/d6lIkaiiRdih4SpPzSM.ttf) format('truetype');
}
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cousine/v22/d6lNkaiiRdih4SpP9Z8K6T4.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u-w4BMUTPHjxsIPy-v.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u_w4BMUTPHjxsI9w2PHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u8w4BMUTPHjxswWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u_w4BMUTPHjxsI5wqPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u_w4BMUTPHjxsI3wiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u8w4BMUTPHh30wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u9w4BMUTPHh7USew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6uyw4BMUTPHvxk.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u9w4BMUTPHh6UVew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u9w4BMUTPHh50Xew8.ttf) format('truetype');
}
:root {
  --pst-font-size-base: 17px;
  --pst-color-success: 10, 83, 130;
  --pst-color-info: 69, 149, 125;
  /*23, 162, 184;*/
  --pst-color-warning: 236, 206, 52;
  --pst-color-danger: 210, 95, 95;
  --pst-color-text-base: 51, 51, 51;
}
body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 17px;
  color: #333347;
}
h2,
h3,
h4,
h5,
h6 {
  color: #333347 !important;
}
.dropdown-menu > li > a:hover,
.navbar-default,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .open > a {
  background-image: none;
  box-shadow: none;
  font-family: 'Barlow', Helvetica, Arial, sans-serif;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .open > a {
  background-image: none;
}
.navbar-default .navbar-nav {
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #333347;
  background-color: transparent;
  text-decoration: underline;
  text-decoration-line: underline;
  text-underline-position: under;
  text-decoration-style: solid;
  text-decoration-color: #1672a7;
  text-decoration-thickness: 2px;
}
section img {
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: left;
  color: #1672a7;
  padding-bottom: 1em;
}
section p {
  margin-bottom: 30px;
}
section p:last-child {
  margin-bottom: 0;
}
section.color-header {
  color: #333347;
  background-color: #ffffff;
  padding: 60px 0;
}
section.color-header h1 {
  color: #1672a7;
  background-color: #ffffff;
  font-size: 300%;
}
section.color-header h2 {
  color: #333347;
  font-size: 130%;
}
.btn-round {
  border-radius: 14px !important;
  border-width: 1px !important;
  color: white;
  background-color: transparent;
  border-color: white;
  margin-top: 16px;
}
.btn-round.focus,
.btn-round:hover {
  color: #e3e2e2;
  border-color: #e3e2e2;
}
section.button-banner {
  color: #333347;
  background-color: #1672a7;
  padding: 140px;
}
section.color-footer {
  background-color: #333347;
  color: #ffffff;
}
.footer {
  width: 100%;
  border-top: 0;
  background-color: #333347;
  color: #ffffff;
  padding: 50px !important;
}
.footer .footer-copyright {
  background-color: #333347;
  font-family: 'Cousine', "Courier New", monospace;
  color: #919191;
  font-size: 80%;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
}
.footer .footer-copyright p {
  margin: 10px;
  color: #ccc;
}
.footer .navbar-brand {
  margin-top: 45px;
  height: 65px;
}
.footer ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}
.footer h5 {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 30px;
}
.footer h2 a {
  font-size: 50px;
  text-align: center;
  color: #ffffff;
}
.footer a {
  color: #d2d1d1;
  text-decoration: none;
}
.footer a:focus,
.footer a:hover {
  text-decoration: none;
  color: #ffffff;
}
.footer .social-networks {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 17px;
}
.footer .social-networks a {
  font-size: 32px;
  color: #f9f9f9;
  padding: 10px;
  transition: 0.2s;
}
.footer .social-networks a:hover {
  text-decoration: none;
}
.foot-fa {
  font-size: 180%;
  padding-top: 16px;
  text-align: center;
}
.foot-fa a {
  padding-left: 10px;
  padding-right: 10px;
}
/* .footer i {
    margin-left: 10px;
    font-size: 30px;
    height: 30px;
    vertical-align: middle;
} */
.footer .fa {
  font-size: 10pt;
  min-width: 10px;
  text-align: center;
}
.footer .btn {
  color: #ffffff;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: none;
  border: 2px solid #ffffff;
  width: 100px;
  display: block;
  margin: 2px auto 0;
  line-height: 15px;
}
@media screen and (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
/* a,
a:visited {
  text-decoration: none;
  color: red;
} */
/* a:hover { color: lighten(#a13152, 30%); } */
.figure.align-center,
img.align-center,
object.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 500px;
}
.table a:not(.btn),
table a:not(.btn) {
  text-decoration: none;
}
a code,
code.xref {
  background-color: transparent;
  font-weight: normal;
}
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  background-color: transparent;
}
code,
kbd,
pre,
samp {
  font-family: 'Cousine', "Courier New", monospace;
}
code {
  padding: 0;
}
/* code.xref, a code {
    background-color: transparent;
    font-weight: normal;
}
 */
dl,
dt {
  font-weight: normal;
}
dd {
  padding-left: 15px;
}
dl:not(.docutils) dt:first-child {
  margin-top: 0;
}
dl:not(.docutils) dl dt {
  padding: 3px;
  margin-bottom: 5px;
  border: none;
  border-left-width: medium;
  border-left-style: none;
  border-left-color: currentcolor;
  border-left: solid 3px #eaeae8;
  background: #f4f3f4;
  color: #333347;
  font-family: 'Cousine', "Courier New", monospace;
}
dl:not(.docutils) dt {
  display: inline-block;
  margin: 2px 0;
  line-height: normal;
  background: #f4f3f4;
  color: #1672a7;
  border-top: solid 3px #1672a7;
  padding: 5px;
  position: relative;
}
code.descclassname {
  background-color: transparent;
  color: #484848;
  font-weight: normal;
  font-size: 100%;
}
code.descname {
  background-color: transparent;
  font-weight: normal;
  font-size: 1em;
}
em.property {
  font-weight: bold;
}
/*

span.pre a:hover {
    color: lighten(red, 10%);
} */
/* code {
  letter-spacing: -0.025em;
} */
code:hover {
  color: #e4c184;
}
dt {
  font-size: 100% !important;
}
p.button {
  text-align: center;
}
caption:hover > a.headerlink,
div.code-block-caption:hover > a.headerlink,
dt:hover > a.headerlink,
h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
p.caption:hover > a.headerlink {
  visibility: hidden;
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: none;
}
.form-control,
input {
  border-width: 1px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  height: 42px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.navbar-form {
  padding-top: 4px;
}
.btn {
  border-width: 2px;
  text-transform: uppercase;
  border-radius: 0;
  box-shadow: none;
  font-family: 'Barlow', Helvetica, Arial, sans-serif;
  text-shadow: None;
}
/* .btn-outline{
  background-color: transparent;
  border-color: green;

} */
#return-to-top {
  position: fixed;
  bottom: 8%;
  right: 2%;
  background: #1672a7;
  width: 40px;
  height: 40px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 12px !important;
  top: 7px !important;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: #1a88c7;
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}
.project-description {
  font-size: 20px;
  margin-top: 30pt;
  margin-bottom: 45pt;
}
.viewcode-link::before {
  font-size: 15px;
  content: "\f121";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 0.3em;
  margin-left: 13px;
}
.viewcode-back::before {
  font-size: 15px;
  content: "\f15c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 0.3em;
  margin-left: 13px;
}
.navbar-text.navbar-version.pull-left {
  visibility: hidden;
}
.fab.fa-python:hover {
  color: #d7a44c;
}
.fab.fa-gitlab:hover {
  color: #d7a44c;
}
.fab.fa-docker:hover {
  color: #d7a44c;
}
div.body {
  min-width: auto;
  max-width: -moz-max-content;
}
.navbar-toggle {
  background-color: #ffffff !important;
}
ul.search li {
  padding: 5px 0;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0 7px;
}
.bs-sidenav {
  margin-top: 25px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-shadow: none;
  background-color: #f7f7f7;
  border-radius: 0;
  min-width: 50px;
}
.bs-sidenav .nav > li > a {
  display: block;
  /* color: @body-bg; */
  padding: 5px 20px;
  border-left: 4px solid transparent;
}
.bs-sidenav .nav > li > a:focus,
.bs-sidenav .nav > li > a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
  box-sizing: border-box;
  border-left: 4px solid #d7a44c;
  border-right: none;
  padding-left: -4px;
}
#sidebar {
  padding: 12px;
}
#sidebar ul {
  margin-left: 10px;
  list-style: none;
  padding: unset;
}
/* Second Level */
#sidebar ul ul {
  margin-left: 15px;
}
/* Third Level */
#sidebar ul ul ul {
  margin-left: 20px;
}
.toc-h2 {
  font-size: 0.8em;
}
.toc-h3 {
  font-size: 0.85em;
}
.navbar {
  position: fixed;
}
.bd-search .icon {
  top: 28px;
  color: #1672a7;
}
.bd-sidebar {
  background: #f5f5f5;
  margin-top: -80px;
  padding-top: 90px;
  padding-left: 2rem;
  padding-right: 2rem;
  height: auto;
  top: 0;
  height: unset;
}
.container-xl {
  max-width: 100%;
}
.navbar-nav > .active > .nav-link {
  color: #333347 !important;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #333347;
  background-color: transparent;
  text-decoration-line: underline;
  text-underline-position: under;
  text-decoration-style: solid;
  text-decoration-color: #1672a7;
  text-decoration-thickness: 2px;
  color: unset !important;
}
.bd-sidebar .nav > .active > a,
.bd-sidebar .nav > .active:hover > a {
  font-weight: 600;
  color: #d7a44c;
}
i.fab {
  font-size: 0.8em !important;
  padding-right: 12px;
}
.icondld {
  display: inline-block;
  width: 22px;
  height: 22px;
  -webkit-mask-size: cover;
  mask-size: cover;
  margin-right: 16px;
  vertical-align: sub;
}
.icon-python {
  background: #333347;
  -webkit-mask-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v4/icons/python.svg");
  mask-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v4/icons/python.svg");
}
.icon-jupyter {
  background: #333347;
  -webkit-mask-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v4/icons/jupyter.svg");
  mask-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v4/icons/jupyter.svg");
}
a.copybtn {
  width: 1.2em;
}
.o-tooltip--left::after {
  background: #1672a7 !important;
  font-size: 0.8rem !important;
  transform: translateX(0) translateY(0) !important;
}
.o-tooltip--left:hover::after {
  transform: translateX(-102%) translateY(-89%) !important;
  transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition-delay: 0s, 0s !important;
  transition-delay: 0.2s !important;
}
.navbar-nav > li {
  padding-left: 20px;
  padding-right: 20px;
}
.homepage-title {
  text-align: left;
  padding-bottom: 20px;
}
.homepage-description {
  padding-top: 60px;
  font-size: 110%;
  color: #9f9f97;
  font-style: italic;
}
.homepage-subtitle {
  padding-bottom: 20px;
  font-size: 210%;
}
.features-container {
  display: inline-block;
  vertical-align: center;
  padding: 20px;
}
.features-banner {
  color: #333347;
  background-color: #c9c9c4;
}
.media > .pull-left,
.media-left {
  padding-right: 60px;
  width: 130px;
}
.media {
  padding: 40px;
  align-items: center;
  max-width: 600px;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
a {
  color: #d7a44c;
}
a:hover {
  color: #e5c48b;
  text-decoration: none;
}
.toc-h2.nav-item.toc-entry:hover > a {
  color: #d7a44c;
}
.xref.download.docutils.literal.notranslate > span.pre {
  background: inherit;
}
.sig-param {
  color: #333347;
}
.sig-paren {
  font-size: larger;
  color: #333347;
}
.sig-name.descname {
  color: #1672a7;
}
.bd-sidebar .nav .active > a,
.bd-sidebar .nav .active:hover > a {
  font-weight: 600;
  color: #d7a44c;
}
div.badges a.reference.external.image-reference img {
  padding-right: 0.3em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
.badges {
  padding-bottom: 3em;
}
.bd-sidebar .nav li > a:hover {
  color: #d7a44c;
}
aside.sidebar,
div.sidebar {
  margin: 0 0 0.5em 1em;
  border: 3px solid #d0d0d0;
  padding: 12px;
  background-color: #e1f0eb;
  width: 40%;
  float: right;
  clear: right;
  overflow-x: auto;
}
.col-12.col-md-9.col-xl-7.py-md-5.pl-md-5.pr-md-4.bd-content {
  padding-top: 40px !important;
  min-height: 77vh;
}
.d-none {
  display: block !important;
  margin: 0;
  padding: 1px;
}
.bd-toc {
  position: -webkit-sticky;
  position: sticky;
  top: calc(var(--pst-header-height) + 20px);
  height: calc(70vh - 5rem);
  overflow-y: auto;
}
dt:target,
span.highlighted {
  background-color: #ffe8b1;
}
.carousel-caption > h5 {
  font-size: 150%;
  color: white !important;
}
.carousel-caption > p {
  color: white !important;
}
.carousel-caption.d-none.d-md-block {
  background: #252a3382;
  padding: 10px;
}
.carousel {
  position: relative;
  background: #eee;
  padding: 20px;
}
